.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.section__header {
  position: fixed;
  /* margin-inline: auto; */
  backdrop-filter: blur(10px);
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border-bottom: 1px solid orange;
}
